* {
  margin : 0;
  padding : 0;
  box-sizing : border-box; 
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size : 1rem;
}
  
#app {
  background-color: #8EBAB3;
  min-height : 100vh;
  overflow-x : hidden;

}

.main-content {
  min-height : 300px;
}